:root {
    --colorlow: rgb(237, 244, 237);
    --colormid: rgb(171, 209, 181);
    --colorhigh: rgb(121, 183, 145);
}

body,html {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    overscroll-behavior: unset;
}

.agendamain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
}

h2 {
    background-color: var(--colorlow);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--colorhigh);
}

.formCitas {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.listarCitas {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    width: 45em;
    
}

.colorful-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 115rem;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
    width: 100%;
}

.form-input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

textarea.form-input {
    height: 100px;
    resize: none;
}


.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--colorhigh);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: var(--colormid);
}

.radio-inputs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: #fff;
    font-weight: 600;
}

.ulcitas {
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 300;
    
}

.listarCitas .ulcitas{
background-color: #f5f5f5;
border-radius: 10px;
padding: 10px;
height: 100%;
}

.ulcitas li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}

.labelTipoCita, .nombreCita{
    font-weight: 700;
    color: var(--colorhigh);
}

.btn-editar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 90px;
  height: 30px;
  border: none;
  padding: 0px 10px;
  background-color: var(--colormid);
  color: var(--colorlow);
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px var(--colorhigh);
  transition-duration: .3s;
}

.btn-editar .svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 10px;
  fill: var(--colorlow);
  transition-duration: .3s;
}

.btn-editar:hover {
  color: transparent;
}

.btn-editar:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.btn-editar:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}


@media screen and (max-width: 400px) {

    .agendamain {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .formCitas  {
        width: 100%;
    }

    .colorful-form {
        margin: 0;
        background-color: #f5f5f5;
        border-radius: 10px;
        width: 100%;
    }

    .form-input {
        width: 90%;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .form-label {
        margin-left: 36px;
        text-align: left;
        width: 100%;
    }

    .ulcitas li{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: 10px;
        padding: 10px;
        background-color: var(--colorlow);
        width: 100%;
        align-items: center;
        justify-content: center;
    }

.listarCitas {
   width: 100%;
}


}