:root {
    --colorlow: rgb(237, 244, 237);
    --colormid: rgb(171, 209, 181);
    --colorhigh: rgb(121, 183, 145);
}


body,
html {
    width: 100%;
    min-height: 100dvh;
    margin: 0;
    display: grid;
    grid-template-rows:
        auto 1fr auto;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--colorlow);
    

}

.main {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.outline {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.rect {
    stroke-dashoffset: 5;
    stroke-dasharray: 0 0 10 40 10 40;
    transition: 0.5s;
    stroke: var(--colorhigh);
}

.nav {
    position: relative;
    width: 500px;
    height: 60px;
}

.container:hover .outline .rect {
    transition: 999999s;
    stroke-dashoffset: 1;
    stroke-dasharray: 0;
}

.container {
    position: absolute;
    inset: 0;
    background: var(--colormid);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
}

.btn {
    padding: 0.5em 1.5em;
    color: var(--colorlow);
    cursor: pointer;
    transition: 0.1s;
}

.btn:hover {
    background: #fff3;
}

.btn:nth-child(1):hover~svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 2 8 73.3 8 10.7;
}

.btn:nth-child(2):hover~svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 12.6 9.5 49.3 9.5 31.6;
}

.btn:nth-child(3):hover~svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 24.5 8.5 27.5 8.5 55.5;
}

.btn:nth-child(4):hover~svg .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 34.7 6.9 10.2 6.9 76;
}

.btn:hover~.outline .rect {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 0 10 40 10 40;
    transition: 0.5s !important;
}


/*

CARRUSEL


*/

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.texto {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 700px;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    background: linear-gradient(150deg, var(--colorhigh), #24262a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    font-size: 3.5rem;
    text-align: left;
}

.texto p {
    font-size: 2rem;
    color: var(--colormid);
}


/*

SERVICIOS

*/

.card {
    width: 570px;
    height: 254px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #fff;
    border-radius: 20px;
    margin: 3rem;
}

.card>* {
    margin: 0;
}

.card__title {
    font-size: 2rem;
    font-weight: 900;
    color: var(--colorhigh);
}

.card__content {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #333;
    margin: 15px;
}

.card__form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card__form input {
    outline: 0;
    margin-left: 10px;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid var(--colorhigh);
    color: black;
}

.card__form button {
    border: 0;
    background: var(--colorhigh);
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
    cursor: pointer;
}

.sign-up:hover {
    opacity: 0.9;
}

/*

LISTA DE SERVICIOS

*/

.pack_card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 2px solid var(--colorhigh);
    padding: 1.5rem 1rem 1rem 1rem;
    margin-top: 1rem;
    background-color: #fff;
    max-width: 300px;
}

.banner {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -2rem;
    display: flex;
    justify-content: center;
}

.banner_tag {
    display: flex;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: var(--colorhigh);
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
}

.pack_name {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: rgb(31 41 55);
}

.description {
    margin: 0 auto 2rem auto;
    text-align: center;
    color: rgb(107 114 128);
}

.lists> :not([hidden])~ :not([hidden]) {
    margin-top: 0.5rem;
}

.list {
    display: flex;
    gap: 0.5rem;
}

.list svg {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    color: var(--colormid);
}

.list span {
    color: rgb(75 85 99);
}

.bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.price_container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.25rem;
}

.devise {
    align-self: flex-start;
    color: rgb(75 85 99);
}

.price {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: rgb(31 41 55);
}

.date {
    color: rgb(107 114 128);
}

.listaServicios .btn {
    display: block;
    border-radius: 0.5rem;
    background-color: var(--colormid);
    padding: 0.75rem 2rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #fff;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition: all .1s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background-color: var(--colorhigh);
}

.btn:active {
    background-color: var(--colorhigh);
}

.listaServicios {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 25px;
}




/*

FOOTER


*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--colormid);
    font-size: 1rem;
    color: var(--colorlow);
}

ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: var(--colorhigh);
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #139625;
}

/*

/*

STYLESSS

*/

.contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 3rem;
    width: 100%;
    margin-top: 3rem;
}


.like-dislike-container {
    --dark-grey: #353535;
    --middle-grey: #767676;
    --lightest-grey: linear-gradient(#fafafa, #ebebeb);
    --shadow: 0 5px 15px 0 #00000026;
    --shadow-active: 0 5px 5px 0 #00000026;
    --border-radius-main: 10px;
    --border-radius-icon: 50px;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    cursor: default;
    color: var(--dark-grey);
    opacity: .9;
    margin: 40px;
    padding: 1.5rem;
    font-weight: 600;
    background: var(--lightest-grey);
    max-width: max-content;
    border-radius: var(--border-radius-main);
    box-shadow: var(--shadow);
    transition: .2s ease all;
}

.like-dislike-container:hover {
    box-shadow: var(--shadow-active);
}

.like-dislike-container .tool-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    top: 0;
    right: 0;
    border-radius: var(--border-radius-main);
}

.like-dislike-container .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: .8rem;
    height: .8rem;
    color: transparent;
    font-size: 0;
    cursor: pointer;
    background-color: #ff000080;
    border: none;
    border-radius: var(--border-radius-main);
    transition: .2s ease all;
}

.like-dislike-container .btn-close:hover {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #ff0000cc;
    box-shadow: var(--shadow-active);
}

.like-dislike-container .btn-close:active {
    width: .9rem;
    height: .9rem;
    font-size: .9rem;
    color: #ffffffde;
    --shadow-btn-close: 0 3px 3px 0 #00000026;
    box-shadow: var(--shadow-btn-close);
}

.like-dislike-container .text-content {
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 1.6;
    cursor: default;
}

.like-dislike-container .icons-box {
    display: flex;
}

.like-dislike-container .icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
    margin: 0 0.5rem;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--middle-grey);
    border-radius: var(--border-radius-icon);
    transition: .2s ease all;
}

.like-dislike-container .icons:hover {
    opacity: .9;
    box-shadow: var(--shadow);
}

.like-dislike-container .icons:active {
    opacity: .9;
    box-shadow: var(--shadow-active);
}

.like-dislike-container .icons .btn-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    cursor: pointer;
    position: relative;
}

.like-dislike-container .like-text-content {
    border-right: 0.1rem solid var(--dark-grey);
    padding: 0 0.6rem 0 0.5rem;
    pointer-events: none;
}

.like-dislike-container .dislike-text-content {
    border-left: 0.1rem solid var(--dark-grey);
    padding: 0 0.5rem 0 0.6rem;
    pointer-events: none;
}

.like-dislike-container .icons .svgs {
    width: 1.3rem;
    fill: var(--colorhigh);
    box-sizing: content-box;
    padding: 10px 10px;
    transition: .2s ease all;
}

.like-dislike-container .icons .input-box {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.like-dislike-container .icons #icon-like-regular {
    display: block;
}

.like-dislike-container .icons #icon-like-solid {
    display: none;
}

.like-dislike-container .icons:hover :is(#icon-like-solid, #icon-like-regular) {
    animation: rotate-icon-like 0.7s ease-in-out both;
}

.like-dislike-container .icons #like-checkbox:checked~#icon-like-regular {
    display: none;
    animation: checked-icon-like 0.5s;
}

.like-dislike-container .icons #like-checkbox:checked~#icon-like-solid {
    display: block;
    animation: checked-icon-like 0.5s;
}

.like-dislike-container .icons #icon-dislike-regular {
    display: block;
    transform: rotate(180deg);
}

.like-dislike-container .icons #icon-dislike-solid {
    display: none;
    transform: rotate(180deg);
}

.like-dislike-container .icons:hover :is(#icon-dislike-solid, #icon-dislike-regular) {
    animation: rotate-icon-dislike 0.7s ease-in-out both;
}

.like-dislike-container .icons #dislike-checkbox:checked~#icon-dislike-regular {
    display: none;
    animation: checked-icon-dislike 0.5s;
}

.like-dislike-container .icons #dislike-checkbox:checked~#icon-dislike-solid {
    display: block;
    animation: checked-icon-dislike 0.5s;
}

.like-dislike-container .icons .fireworks {
    transform: scale(0.4);
}

.like-dislike-container .icons #like-checkbox:checked~.fireworks>.checked-like-fx {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 40px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    animation: 1s fireworks-bang ease-out forwards, 1s fireworks-gravity ease-in forwards, 5s fireworks-position linear forwards;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

.like-dislike-container .icons #dislike-checkbox:checked~.fireworks>.checked-dislike-fx {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 40px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    animation: 1s fireworks-bang ease-out forwards, 1s fireworks-gravity ease-in forwards, 5s fireworks-position linear forwards;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

/* Shake Animation */
@keyframes rotate-icon-like {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes rotate-icon-dislike {
    0% {
        transform: rotate(180deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(183deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(177deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(181deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(180deg) translate3d(0, 0, 0);
    }
}

/* Checked Animation */
@keyframes checked-icon-like {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2) rotate(-10deg);
    }
}

@keyframes checked-icon-dislike {
    0% {
        transform: scale(0) rotate(180deg);
        opacity: 0;
    }

    50% {
        transform: scale(1.2) rotate(170deg);
    }
}

/* Fireworks Animation */
@keyframes fireworks-position {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes fireworks-gravity {
    to {
        transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes fireworks-bang {
    to {
        box-shadow: 114px -107.3333333333px #8800ff, 212px -166.3333333333px #a600ff, 197px -6.3333333333px #ff006a, 179px -329.3333333333px #3300ff, -167px -262.3333333333px #ff0062, 233px 65.6666666667px #ff008c, 81px 42.6666666667px #0051ff, -13px 54.6666666667px #00ff2b, -60px -183.3333333333px #0900ff, 127px -259.3333333333px #ff00e6, 117px -122.3333333333px #00b7ff, 95px 20.6666666667px #ff8000, 115px 1.6666666667px #0004ff, -160px -328.3333333333px #00ff40, 69px -242.3333333333px #000dff, -208px -230.3333333333px #ff0400, 30px -15.3333333333px #e6ff00, 235px -15.3333333333px #fb00ff, 80px -232.3333333333px #d5ff00, 175px -173.3333333333px #00ff3c, -187px -176.3333333333px #aaff00, 4px 26.6666666667px #ff6f00, 227px -106.3333333333px #ff0099, 119px 17.6666666667px #00ffd5, -102px 4.6666666667px #ff0088, -16px -4.3333333333px #00fff7, -201px -310.3333333333px #00ffdd, 64px -181.3333333333px #f700ff, -234px -15.3333333333px #00fffb, -184px -263.3333333333px #aa00ff, 96px -303.3333333333px #0037ff, -139px 10.6666666667px #0026ff, 25px -205.3333333333px #00ff2b, -129px -322.3333333333px #40ff00, -235px -187.3333333333px #26ff00, -136px -237.3333333333px #0091ff, -82px -321.3333333333px #6a00ff, 7px -267.3333333333px #ff00c8, -155px 30.6666666667px #0059ff, -85px -73.3333333333px #6a00ff, 60px -199.3333333333px #55ff00, -9px -289.3333333333px #00ffaa, -208px -167.3333333333px #00ff80, -13px -299.3333333333px #ff0004, 179px -164.3333333333px #ff0044, -112px 12.6666666667px #0051ff, -209px -125.3333333333px #ff00bb, 14px -101.3333333333px #00ff95, -184px -292.3333333333px #ff0099, -26px -168.3333333333px #09ff00, 129px -67.3333333333px #0084ff, -17px -23.3333333333px #0059ff, 129px 34.6666666667px #7300ff, 35px -24.3333333333px #ffd900, -12px -297.3333333333px #ff8400, 129px -156.3333333333px #0dff00, 157px -29.3333333333px #1a00ff, -221px 6.6666666667px #ff0062, 0px -311.3333333333px #ff006a, 155px 50.6666666667px #00ffaa, -71px -318.3333333333px #0073ff;
    }
}


.cardAutor {
 width: 190px;
 height: 254px;
 background: #f5f5f5;
 overflow: visible;
 box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
 display: flex;
 flex-direction: column;
 align-items: center;
}

.cardAutor-info {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 2em;
 padding: 0 1rem;
}

.cardAutor-img {
 --size: 100px;
 width: var(--size);
 height: var(--size);
 border-radius: 50%;
 transform: translateY(-50%);
 background: #42caff;
 background: linear-gradient(to bottom, var(--colormid) 0%, var(--colorhigh) 100%);
 position: relative;
 transition: all .3s ease-in-out;
}

.cardAutor-img::before {
 content: "";
 border-radius: inherit;
 position: absolute;
 top: 50%;
 left: 50%;
 width: 80%;
 height: 80%;
 transform: translate(-50%, -50%);
 border: 1rem solid #e8e8e8;
}


.textAutor-title {
 text-transform: uppercase;
 font-size: 0.75em;
 color: var(--colorhigh);
 letter-spacing: 0.05rem;
}

.textAutor-body {
 font-size: .8em;
 text-align: center;
 color: #6f6d78;
 font-weight: 400;
 font-style: italic;
}


.cardAutor:hover .cardAutor-img {
 --size: 110px;
 width: var(--size);
 height: var(--size);
}


/*

RESPONSIVE

*/

@media screen and (max-width: 400px) {
    .nav {
        display: none;
    }

    /* From Uiverse.io by pathikcomp */
    .main>.inp {
        display: none;
    }

    .main {
        font-weight: 800;
        color: var(--colorlow);
        background-color: var(--colormid);
        padding: 3px 15px;
        border-radius: 10px;

        display: flex;
        align-items: center;
        height: 2.5rem;
        width: 15rem;
        position: relative;
        cursor: pointer;
        justify-content: space-between;
    }

    .arrow {
        height: 34%;
        aspect-ratio: 1;
        margin-block: auto;
        position: relative;
        display: flex;
        justify-content: center;
        transition: all 0.3s;
    }

    .arrow::after,
    .arrow::before {
        content: "";
        position: absolute;
        background-color: var(--colormid);
        height: 100%;
        width: 2.5px;
        border-radius: 500px;
        transform-origin: bottom;
    }

    .arrow::after {
        transform: rotate(35deg) translateX(-0.5px);
    }

    .arrow::before {
        transform: rotate(-35deg) translateX(0.5px);
    }

    .main>.inp:checked+.arrow {
        transform: rotateX(180deg);
    }

    .menu-container {
        background-color: var(--colormid);
        color: var(--colorlow);
        border-radius: 10px;
        position: absolute;
        width: 100%;
        left: 0;
        top: 130%;
        overflow: hidden;
        clip-path: inset(0% 0% 0% 0% round 10px);
        transition: all 0.4s;
        z-index: 1;
    }

    .menu-list {
        --delay: 0.4s;
        --trdelay: 0.15s;
        padding: 8px 10px;
        border-radius: inherit;
        transition: background-color 0.2s 0s;
        position: relative;
        transform: translateY(30px);
        margin-left: 5px;
        opacity: 0;
        width: 100%;
    }

    .menu-list::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        background-color: rgba(0, 0, 0, 0.3);
        width: 95%;
    }

    .menu-list:hover {
        background-color: var(--colorhigh);
    }

    .inp:checked~.menu-container {
        clip-path: inset(10% 50% 90% 50% round 10px);
    }

    .inp:not(:checked)~.menu-container .menu-list {
        transform: translateY(0);
        opacity: 1;
    }

    .inp:not(:checked)~.menu-container .menu-list:nth-child(1) {
        transition:
            transform 0.4s var(--delay),
            opacity 0.4s var(--delay);
    }

    .inp:not(:checked)~.menu-container .menu-list:nth-child(2) {
        transition:
            transform 0.4s calc(var(--delay) + (var(--trdelay) * 1)),
            opacity 0.4s calc(var(--delay) + (var(--trdelay) * 1));
    }

    .inp:not(:checked)~.menu-container .menu-list:nth-child(3) {
        transition:
            transform 0.4s calc(var(--delay) + (var(--trdelay) * 2)),
            opacity 0.4s calc(var(--delay) + (var(--trdelay) * 2));
    }

    .inp:not(:checked)~.menu-container .menu-list:nth-child(4) {
        transition:
            transform 0.4s calc(var(--delay) + (var(--trdelay) * 3)),
            opacity 0.4s calc(var(--delay) + (var(--trdelay) * 3));
    }

    .bar-inp {
        -webkit-appearance: none;
        display: none;
        visibility: hidden;
    }

    .bar {
        display: flex;
        height: 50%;
        width: 20px;
        flex-direction: column;
        gap: 3px;
        justify-content: center;
    }

    .bar-list {
        --transform: -25%;
        display: block;
        width: 100%;
        height: 3px;
        border-radius: 50px;
        background-color: white;
        transition: all 0.4s;
        position: relative;
    }

    .inp:not(:checked)~.bar>.top {
        transform-origin: top right;
        transform: translateY(var(--transform)) rotate(-45deg);
    }

    .inp:not(:checked)~.bar>.middle {
        transform: translateX(-50%);
        opacity: 0;
    }

    .inp:not(:checked)~.bar>.bottom {
        transform-origin: bottom right;
        transform: translateY(calc(var(--transform) * -1)) rotate(45deg);
    }
    .bottom{
        margin-top: 0;
    }

    .texto {
        justify-content: center;
        gap: 2rem;
        width: 100%;
        height: 560px;
        text-align: center;
        font-size: 3rem;


    }

    .highlight {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        font-size: 2rem;
        text-align: center;
    }

    .texto p {
        font-size: 1rem;
        width: 90%;
        color: var(--colormid);
        margin: 0;
    }

    .card {
        width: 340px;
        height: 254px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        background: #fff;
        border-radius: 20px;
        margin: 1rem;
    }

    .listaServicios {
        margin-top: 4rem;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 25px;
    }


    .contacto {
        flex-direction: column;

    }


    footer {
        font-size: 1rem;
        height: 250px;
    }

}